@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styling */
body {
  font-family: system-ui, sans-serif;
}

/* custom animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 1.2s ease-out;
}

